header{
    width:100%;
    display: flex;
    justify-content: space-between;
    
}
.header-title{
    color: white;  /* Fallback: assume this color ON TOP of image */
    background: url("./assets/Programming.jpg")  repeat;
    -webkit-background-clip: text;
    background-clip: text; 
   -webkit-text-fill-color: transparent;
   
 
   
    text-align: left;
    font-size: 3rem;
    font-weight: 900;
    font-style: italic;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 30%;
    margin-top: 0;
    
 }

