header{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
    
    height: 5rem;
    margin-bottom: 2rem;
    
}


.header-title{
    display: flex;
    justify-content: left;
    
    height: 4rem;
    font-size: 5rem;
     /* color: rgb(201, 172, 172); 
   
 
   -webkit-text-stroke: 0.9px white;
    text-align: center;
    font-size: 5rem;
    font-weight: 900;
    
    font-family: "Oswald", sans-serif;
    font-style: italic; */
   
    
 }

