@import "./styles/_reset.css";

@import  "./styles/_nav.css";
@import "./styles/_header.css";
@import "./styles/_intro.css";
@import "./styles/_list.css";

@import "./styles/_home.css";
@import "./styles/_footer.css";

@import "./styles/_search.css";

body{
  
 /* height: 100vh;

 
  background-image: linear-gradient( rgb(166, 191, 199), white, lightblue) ; 
  background-repeat: no-repeat; */
  
  
}




/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: lightslategray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
