@import "./styles/_reset.css";
@import "./styles/accessibility/_media-queries.css";

@import  "./styles/_nav.css";
@import "./styles/_header.css";
@import "./styles/_intro.css";
@import "./styles/_loading.css";
@import "./styles/_fourohfour.css";
@import "./styles/_list.css";
@import "./styles/_wordcard.css";
@import "./styles/_form.css";



@import "./styles/_home.css";
@import "./styles/_footer.css";

@import "./styles/_search.css";


body{
 
  height: 100%;
  overflow: auto;
  background: lightgray;
  
  

  /* darker background */

  /* background-image: linear-gradient(to bottom , rgb(26, 18, 20),rgb(83, 72, 72),rgb(7, 7, 6),rgb(7, 7, 6),rgb(7, 7, 6),rgb(7, 7, 6),rgb(7, 7, 6)); */

  /* lighter background */

  background-image: linear-gradient(to bottom , rgb(168, 168, 168) ,rgb(228, 224, 224),rgb(170, 170, 169),rgb(134, 134, 133), rgb(78, 78, 76) ,rgb(168, 168, 168));

  /* rgb(160, 155, 155) */
}

/* rgb(167, 163, 163) */